Screen {
    layout: horizontal;
    scrollbar-size: 1 1;
}

* {
    scrollbar-size: 1 1;
}

Header {
    dock: top;
}

Footer {
    dock: bottom;
}

PDFViewer {
    width: 1fr;
}

Markdown {
    padding: 1 2;
}
